<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
  
<div class="container">
  <h3><%= message %></h3>
  <p>Pair Project</p>

  <table class="table">
  	<thead>
  		<tr>
  			<th>No</th>
  			<th>Title</th>
  			<th>Author</th>
  			<th>Reading Days</th>
  			<th>Action</th>
  		</tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

</body>
</html>